/* General Styling for the Matching Page */
.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
  
.homepageTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}