/* styles/HeaderSimple.module.css */

/* CSS File for global header */

.header {
	height: 65px;
	width: 100%;
	padding-top: 5px;
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center; /* Ensures the header is centered horizontally */
	position: fixed;
	top: 0;
	box-shadow:
		0 0 4px 0 rgba(0, 0, 0, 0.08),
		0 2px 4px 0 rgba(0, 0, 0, 0.12);
	z-index: 1000;
}

.inner {
	width: 100%;
	max-width: 1200px; /* Restricting width for large screens */
	height: 56px;
	display: flex;
	justify-content: space-between; /* Spreads logo and links apart */
	align-items: center;
	padding: 0 20px; /* Adding some padding for spacing */
}

.link {
	display: block;
	padding: 10px 15px; /* Making padding more compact */
	border-radius: 4px;
	text-decoration: none;
	color: #4a5568;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease; /* Smooth hover effect */
}

.link:hover {
	background-color: #edf2f7;
}

.links {
	display: flex;
	gap: 20px; /* Adds space between the links */
}

.burger {
	display: none; /* Ensures the burger menu doesn't appear on larger screens */
}

@media (max-width: 768px) {
	.links {
		display: none; /* Hides the links on small screens */
	}

	.burger {
		display: block; /* Shows the burger menu on small screens */
	}
}
