/* ProfileCard Styling */
.profileCard {
	width: 500px;
	height: 700px;
	background-color: white;
	text-align: left;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profileCardImage {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	margin-bottom: 8px;
	align-items: center;
	background-color: black;
}

.profileCardName {
	font-size: 1.75rem;
	font-weight: bold;
	text-align: left;
}

.profileCardBio {
	color: #4a5568;
	text-align: left;
}

/* SwipeProfiles Container */
.profilesContainer {
	position: relative;
	width: 320px;
	height: 384px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileWrapper {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swipeCard {
	position: absolute;
	width: 500px;
	height: 320px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	transition: transform 0.3s ease-in-out;
	z-index: 20;
}

.noMoreProfiles {
	width: 256px;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	color: white;
}

/* Button Styling */
.buttonContainer {
	position: fixed;
	bottom: 20rem;
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: space-around;
}

.swipeButtonLeft, .swipeButtonRight {
	padding: 0.5rem 1rem;
	border-radius: 4px;
	font-size: 2rem;
	color: white;
}

.swipeButtonLeft:hover, .swipeButtonRight:hover  {
	color: rgb(209, 209, 209);
}