/* ProfileCard Styling */
.profileCard {
	width: 500px;
<<<<<<< HEAD
	height: 700px;
	background-color: white;
	text-align: left;
	padding: 20px;
=======
	height: 320px;
	background-color: white;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
<<<<<<< HEAD
=======
	align-items: center;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
	justify-content: center;
}

.profileCardImage {
<<<<<<< HEAD
	width: 100%;
	height: 100%;
	border-radius: 8px;
	margin-bottom: 8px;
	align-items: center;
	background-color: black;
=======
	width: 96px;
	height: 96px;
	border-radius: 50%;
	margin-bottom: 8px;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
}

.profileCardName {
	font-size: 1.75rem;
	font-weight: bold;
<<<<<<< HEAD
	text-align: left;
=======
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
}

.profileCardBio {
	color: #4a5568;
<<<<<<< HEAD
	text-align: left;
=======
	text-align: center;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
}

/* SwipeProfiles Container */
.profilesContainer {
	position: relative;
	width: 320px;
	height: 384px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileWrapper {
<<<<<<< HEAD
=======
	flex: 1;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swipeCard {
	position: absolute;
	width: 500px;
	height: 320px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	transition: transform 0.3s ease-in-out;
	z-index: 20;
}

.noMoreProfiles {
	width: 256px;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
<<<<<<< HEAD
	color: white;
=======
	color: #718096;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
}

/* Button Styling */
.buttonContainer {
	position: fixed;
<<<<<<< HEAD
	bottom: 20rem;
	width: 100%;
	height: 25%;
=======
	bottom: 1rem;
	width: 100%;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
	display: flex;
	justify-content: space-around;
}

.swipeButtonLeft, .swipeButtonRight {
	padding: 0.5rem 1rem;
	border-radius: 4px;
<<<<<<< HEAD
	font-size: 2rem;
	color: white;
}

.swipeButtonLeft:hover, .swipeButtonRight:hover  {
	color: rgb(209, 209, 209);
=======
	font-size: 1rem;
	color: white;
}

.swipeButtonLeft {
	background-color: #4299e1;
}

.swipeButtonRight {
	background-color: #48bb78;
>>>>>>> 8007fd0 (replaced tailwind css with separated css files)
}