/* ProfileCard Styling */
.profileCard {
	width: 500px;
	height: 700px;
	background-color: white;
	text-align: left;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: start;
	overflow: hidden;
}

.scrollableContent {
	flex-grow: 1; /* Allow the scrollable content to expand and fill the available space */
  	overflow-y: auto;
  	padding: 20px; /* Apply padding inside the scrollable area for content spacing */
  	box-sizing: border-box; /* Ensure padding doesn’t affect total height */
}

.profileCardImage {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	margin-bottom: 8px;
	align-items: center;
	background-color: black;
}

.profileCardName {
	font-size: 1.75rem;
	font-weight: bold;
	text-align: left;
}

.profileCardBio {
	color: #4a5568;
	text-align: left;
}

/* SwipeProfiles Container */
.profilesContainer {
	position: relative;
	width: 320px;
	height: 384px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileWrapper {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swipeCard {
	position: absolute;
	width: 500px;
	height: 320px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	transition: transform 0.3s ease-in-out;
	z-index: 20;
}

.noMoreProfiles {
	width: 256px;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	color: white;
}

/* Button Styling */
.buttonContainer {
	position: fixed;
	bottom: 20rem;
	width: 70%;
	height: 25%;
	display: flex;
	justify-content: space-around;
}

.swipeButtonLeft, .swipeButtonRight {
	background-color: transparent; /* Change this color to your preferred color */
	color: white;
	padding: 0.5rem 1.5rem; /* Adjust padding for size */
	border: 2px solid white; /* Outline color */
	border-radius: 8px; /* Rounded corners */
	font-size: 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect for hover */
}

.swipeButtonLeft:hover, .swipeButtonRight:hover  {
	background-color: #e0e0e0; /* Darker shade for hover effect */
	color: #e0e0e0; /* Lightened text on hover */
}